@use 'styles/fonts';
@use 'styles/variables' as *;
@use './app/app.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  background-color: $color-primary-purple;
  color: $color-white;
  font-family: $font-body;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}